@import 'nib'

body
  color: #333
  font-style: normal
  font-family: "Myriad Set Pro", "Lucida Grande", "Helvetica Neue", "Helvetica", "Arial", "Verdana", "sans-serif"
  font-size: 18px
  line-height: 1.45
  font-weight: 400

.content
  width: 1024px
  margin: 0 auto

.header
  margin: 50px 0
  >.gb-container.visible
    position: relative

    >.gb-box
      position: relative
      width: 1024px
      border: solid 1px #ccc
      margin: 0 auto

      >.popup
        display: block

        >h1
          font-size: 72px

button
  font-size: 18px
  border: solid 1px #ccc
  border-radius: 3px
  background-color: #fff
  cursor: pointer
  color: #343434
  padding: 3px 8px
  outline: none

  &:active
    background: linear-gradient(to bottom, #5677fc, #455ede)
    border-color: #2a36b1

.log
  padding: 5px
  font-size: small
  overflow: auto
  width: 400px
  height: 250px
  background-color: #f5f5f5
  margin: 10px 0
