/*
 * Generic - jQuery Plugin
 *
 * Example and documentation at: http://danlevan.github.io/jquery.generic
 *
 * Copyright (c) 2014 Dan LE VAN
 *
 * Version: 0.1.2 (Thu Nov 06 2014)
 * Requires: jQuery v1.7+
 * * Licensed under the MIT license:
 *   https://raw.github.com/danlevan/jquery.generic/master/LICENSE
 */
$colorSelect = #F44336
$colorHover = #f5f5f5

.gdt

  font-size 16px

  /*****************************************************************************
   * Default
   ****************************************************************************/

  .gdt-container

    /* hidden */
    fixed top -999px left -999px

  .gdt-container.visible

    /* visible */
    relative top auto left auto

  .gdt-box

    /* position relative to input */
    absolute top 2px left

    /* style */
    border solid 1px rgba(0,0,0,0.1)
    background-color #fff
    padding 15px
    box-shadow 0 0 10px rgba(0,0,0,0.2)

  .gdt-close

    /* size and shape */
    size 20px 20px
    border-radius 20px

    /* position top right */
    absolute top 5px right 5px

    /* style */
    background-color #e84e40
    cursor pointer

    &:hover
      background-color darken(@background-color, 15)

  .gdt-helper

    /* layout */
    vertical-align top
    margin 0 0 10px 0

    /* style */
    text-align center

    ul
      margin 0
      padding 0

    li
      list-style none
      margin 0 0 5px 0
      display inline-block

    button
      border solid 1px #ccc
      font-size 0.8em
      padding 3px 8px
      border-radius 5px
      margin 0 4px 0 0
      background-color #eee
      cursor pointer
      color #666

      &:hover
        background-color #e0e0e0

  .gdt-calendar

    /* layout */
    display inline-block

    /* style */
    background-color transparent
    text-align center

  .gdt-time

    /* layout */
    display inline-block
    padding 0 25px 0 0
    margin 0 0 0 10px
    height 220px
    overflow auto

    /* style */
    border solid 1px rgba(0,0,0,0.1)
    background-color #fff
    text-align right

  .gdt-year
    text-align center
    margin 0

    ol
      margin 0
      padding 0

    li
      /* style */
      list-style none
      cursor pointer
      font-size 1.5em

      /* layout */
      vertical-align middle
      display inline-block
      padding 0 10px

      &.selected
        font-weight bold
        font-size 3em

      &.outside
        color #ccc

  .gdt-month
    text-align center
    margin 0 0 30px 0

    ol
      margin 0
      padding 0

    li
      /* style */
      list-style none
      cursor pointer
      font-size .8em
      text-transform uppercase

      /* layout */
      vertical-align middle
      display inline-block
      padding 0 3px

      &.selected
        font-weight bold
        font-size 1.5em

      &.outside
        color #ccc

  .gdt-calendar table
    margin 0
    padding 0
    border-spacing 0

  .gdt-calendar table th
    font-size 1em
    font-weight bold
    text-transform uppercase

  .gdt-calendar table th
  .gdt-calendar table td
    size 35px 35px

  .gdt-calendar table td
    cursor pointer

    >span
      display inline-block
      size 35px 35px
      line-height 35px
      border-radius 35px

    &:hover
      >span
        background-color $colorHover

    &.outside
      text-decoration line-through
      color #ccc

    &.outside-month
      color #ccc

      /* cancel hover feedback */
      >span
        background-color transparent

    // weekend
    &:nth-child(1)
    &:nth-child(7)
      background-color rgba(230,230,230,0.3)

    &.today
      color $colorSelect
      font-weight bold

    &.selected
      >span
        background-color $colorSelect
        color #fff

  .gdt-time ol
    margin 0
    padding 0

  .gdt-time li
    width 100%
    margin 0 0 1px 0
    padding 6px 15px 4px 8px
    list-style none
    cursor pointer
    font-size 1.2em

    &:hover
      background-color $colorHover

    &.selected
      background-color $colorSelect
      color #fff

    &.outside
      color #ccc

  /*****************************************************************************
   * Inline
   ****************************************************************************/
  &.inline
    .gdt-box
      relative top 2px left
      display inline-block
