@import 'nib'

.gb-style

  /*****************************************************************************
   * Default
   ****************************************************************************/

  /*
   * Container
   */
  &.gb-container

    /* hidden */
    fixed top -999px left -999px

  &.gb-container.visible

    /* visible */
    fixed top left

  /*
   * Overlay
   */
  &.gb-container .gb-overlay

    /* style */
    background-color rgba(0,0,0,.6)

    /* full screen */
    size 100% 100%

    /* hidden */
    fixed top -999px left -999px

  &.gb-container.visible .gb-overlay

    /* visible */
    fixed top left

  /*
   * Box container (close button and popup)
   */
  &.gb-container.visible .gb-box

    /* position on screen */
    fixed top left

  /*
   * Close button
   */
  &.gb-container .gb-close

    /* size and shape */
    size 20px 20px
    border-radius 20px

    /* position top right */
    absolute top 5px right 5px

    /* style */
    background-color #e84e40
    cursor pointer

    &:hover
      background-color darken(@background-color, 15)

  /*
   * Your popup
   */
  &.gb-container .gb-popup
    background-color #fff

  /*****************************************************************************
   * Overlay fade
   ****************************************************************************/

  &.overlay-fade

    .gb-overlay

      /* hidden */
      visibility hidden
      opacity 0

      /* animation for opacity */
      transition opacity .3s linear, visibility 0s linear .3s, left 0s linear .3s, top 0s linear .3s

    &.visible .gb-overlay

      /* visible */
      visibility visible
      opacity 1

      /* animation for opacity */
      transition opacity .3s linear

  /*****************************************************************************
   * Overlay colors
   ****************************************************************************/

  &.overlay-light
    .gb-overlay
      background-color rgba(0,0,0,.2)

  &.overlay-white
    .gb-overlay
      background-color rgba(255,255,255,.8)

  /*****************************************************************************
   * Close button hide
   ****************************************************************************/

  &.close-hide

    .gb-box .gb-close

      /* hidden */
      display none

  /*****************************************************************************
   * Center screen
   ****************************************************************************/

  &.center
    /* center */
    display flex
    justify-content center
    align-items center
    size 100% 100%

    &.visible .gb-box

      relative top left

  /*****************************************************************************
   * Full screen
   ****************************************************************************/

  &.fullscreen

    &.visible .gb-box
      fixed top left
      size 100% 100%

    .gb-close
      absolute top 30px right 30px
      z-index 101

    .gb-popup
      absolute top 20px right 20px bottom 20px left 20px
      z-index 100

  /*****************************************************************************
   * Scale
   ****************************************************************************/

  &.scale

    /* hide delay */
    transition top 0s linear .1s, left 0s linear .1s

    &.visible

      /* no delay */
      transition none

    .gb-box

      /* hidden */
      visibility hidden
      opacity 0

      /* scale animation */
      transform scale(.9)
      transition transform .1s ease-out, opacity 0s linear .1s, visibility 0s linear .1s, top 0s linear .1s, left 0s linear .1s

    &.visible .gb-box

      /* visible */
      visibility visible
      opacity 1

      /* scale animation */
      transform scale(1)
      transition transform .1s ease-out

  /*****************************************************************************
   * Animation helper
   ****************************************************************************/

  &.anim-1s

    /* hide delay */
    transition top 0s linear 1s, left 0s linear 1s

    &.visible

      /* no delay */
      transition none

    .gb-overlay

      /* animation for opacity */
      transition opacity .3s linear .7s, visibility 0s linear 1s, left 0s linear 1s, top 0s linear 1s

    .gb-overlay

      /* animation for opacity */
      transition opacity .3s linear
